@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

/*-------------------------------------------Header*/

.navbar {
    font-family: "Spicy Rice", cursive;
}

.navbar-brand {
    font-size: 40px;
}

/*-------------------------------------------Sections*/

body {
    padding-top: 100px;
    background: #000a12;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #ffffff;
}

p {
    color: #ffffff;
}


/*-------------------------------------------Index*/

.latest-news {
    padding-top: 20px;
    width: 960px;
    font-family: "Spicy Rice", cursive;

}


.date {
    color: #cccccc;
}

.news-img {
    float: left;
    display: inline;
}

.news-item-1,
.news-item-2,
.news-item-3 {
    display: block;
    position: relative;
    clear: both;
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid #fff;
}

/*-------------------------------------------Tour Dates*/

.tour-detail-block {
    text-align: left;
}

.tour-detail-block-date,
.tour-detail-block-location {
    display: inline-block;
}

.tour-detail-block-date {
    margin-top: 5px;
    padding: 10px;

}

/*-------------------------------------------Music*/

audio controls {
    width: 18rem;
    display: block;
}


/*-------------------------------------------Gallery*/

.photo-gallery {
    width: 100%;
    padding: 20px;
    text-align: center;
}

/*-------------------------------------------Events*/




/*-------------------------------------------Footer*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
